@import "tailwindcss";

@theme inline {
  --color-background: var(--theme-background);
  --color-primary: var(--theme-primary);
  --color-secondary: var(--theme-secondary);
  --color-accent: var(--theme-accent);
  
  --color-text-main: var(--theme-text-main);
  --color-text-muted: var(--theme-text-muted);
  --color-text-inverse: var(--theme-text-inverse);

  --radius-sm: var(--theme-radius-small);
  --radius-md: var(--theme-radius-medium);
  --radius-lg: var(--theme-radius-large);
  --radius-full: var(--theme-radius-full);

  --shadow-soft: var(--theme-shadow-soft);
  --shadow-medium: var(--theme-shadow-medium);

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
